{% load static %}
<div class="Header">
        <div class="container">
            <div class="InnerHeader">
                <div routerlink="/" class="Logo" tabindex="0">
                    <img src="{% static 'assets/logo/logo.png' %}" alt="logo">
                </div>
                <div class="Navigation">
                    <div class="Item" tabindex="0">
                        <a class="nav-element" href="index.html"> Home </a>
                    </div>
                    <div class="d-flex">
                        <div class="Item" tabindex="0">
                            <a class="nav-element" href="find-teachers.html"> Find teachers </a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="Item" tabindex="0">
                            <a class="nav-element" href="find-jobs.html"> Find Jobs </a>
                        </div>
                    </div>
                    <div class="Item" tabindex="0">
                        <a class="nav-element" href="resources.html"> Resources </a>
                    </div>
                    <div class="Item" tabindex="0">
                        <a class="nav-element" href="contact.html"> Contact us </a>
                    </div>
                    <div class="Item" tabindex="0">
                        <a class="nav-element" href="faqs.html"> Faqs </a>
                    </div>

                    <div class="Item">
                        <a class="nav-element" href="{% url 'user_auth:signin' %}"> Login </a>
                    </div>
                    <div class="Item">
                        <a class="nav-element" href="{% url 'user_auth:home' %}"> Signup</a>
                    </div>
                </div>
                <div data-toggle="collapse" data-target="#collaspeNavigation" aria-expanded="false"
                    aria-controls="collaspeNavigation" class="HumburgerIcon">
                    <img src="{% static 'assets/icons/header-icon.jpg' %}" alt="icon">
                </div>
            </div>
        </div>
    </div>
    <div class="HamburgerListMenu">
        <div id="collaspeNavigation" class="collapse">
            <div class="Card Card-body">
                <div class="Nav">
                    <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item" tabindex="0">
                        <a class="nav-element" href="index.html"> Home </a>
                    </div>
                    <div class="d-flex">
                        <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item" tabindex="0">
                            <a class="nav-element" href="find-teachers.html"> Find teachers </a>
                        </div>
                    </div>
                    </a>

                    <div class="d-flex">
                        <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item" tabindex="0">
                            <a class="nav-element" href="find-jobs.html"> Find Jobs </a>
                        </div>
                    </div>
                    <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item" tabindex="0">
                        <a class="nav-element" href="resources.html"> Resources </a>
                    </div>
                    <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item" tabindex="0">
                        <a class="nav-element" href="contact.html"> Contact us </a>
                    </div>
                    <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item" tabindex="0">
                        <a class="nav-element" href="faqs.html"> Faqs </a>
                    </div>

                    <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item">
                        <a class="nav-element" href="login.html"> Login </a>
                    </div>
                    <div data-toggle="collapse" data-target="#collaspeNavigation" class="Item">
                        <a class="nav-element" href="signup.html"> Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>